<h2 class="show">Edit Mini Lecture</h2>

<div id="show-container">
  <%= render 'form' %>
  <span><%= link_to 'Destroy', mini_lecture_path(@mini_lecture), method: :delete, data: { confirm: 'Are you sure?' } %></span>
</div>

<%= link_to 'Back to Mini Lecture', @mini_lecture %>
