<h2 class="show">Edit Mini Lecture</h2>

<div id="show-container">
  <%= render 'form' %>
  <span class="delete"><%= link_to 'Delete Mini Lecture', mini_lecture_path(@mini_lecture), method: :delete,
    data: { confirm: 'Are you sure you want to delete this Mini Lecture?' } %>
  </span>
</div>

<%= link_to 'Back to Mini Lecture', @mini_lecture %>
