<h2 class="show">Edit PICO Question</h2>

<div id="show-container">
  <%= render 'form' %>
  <span><%= link_to 'Destroy', pico_question_path(@pico_question), method: :delete, data: { confirm: 'Are you sure?' } %></span>
</div>

<%= link_to 'Back to PICO Question', @pico_question %>
