// Place all the styles related to the PicoQuestions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2.show {
  text-align: center;
}

#show-container {
  width: 50%;
  margin: 25px auto 0 auto;
  border: 1px solid;
  padding: 5px;

  h2 {
    text-align: center;
    padding-bottom: 2px;
  }
  span {
    font-weight: bold;
  }
  a {
    color: black;
    text-decoration: underline;
  }
  p {
    padding-bottom: 5px;
  }
  h4 {
    text-align: right;
  }
  textarea {
    width: 99%;
    height: 80px;
  }
  .category-field {
    margin-bottom: 10px;
    text-align: center;
  }
  .delete {
    text-align: right;
    display: block;
    a {
      color: #CC0000;
      text-decoration: none;
    }
  }
  .actions {
    text-align: center;
  }
}
