<p id="notice"><%= notice %></p>

<h2 class="show">Edit Medical Category</h2>

<div id="show-container">
  <%= render 'form' %>
  <span class="delete"><%= link_to 'Delete Category', medical_category_path(@medical_category), method: :delete,
    data: { confirm: 'Are you sure you want to delete this category?' } %>
  </span>
</div>

<%= link_to 'Back', medical_categories_path %>
