<!DOCTYPE html>
<html>
<head>
  <title>NslijApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
    <p>You are signed in!</p>
  <% else %>
    <p>You are not signed in</p>
  <% end %>

<%= yield %>

</body>
</html>
